body{
    font-family: sans-serif;
    color: white;
    background-color:#333333;
    
}
.container {
    display: flex;
    max-width: 100%;
   
    
} 
.container-main {
    max-width: 80%;
    width: 80%;
    margin-left: auto;
}

.nav-container {
    max-width: 20%;
    width: 100%;
    height: 100%;
    position: fixed;
}


.links {
    text-transform: uppercase;
    padding: 10px;
    display:block ;
    color: #ffffff;
    text-decoration: none;

}
.links:hover {

    color: #c4c6c7;
    text-decoration: none;

}
h1{ 
    
    text-align: center; 
    background-color: rgb(111, 93, 192);
    font-weight: 900;
    text-transform: uppercase;
    border: 7px solid black;
}
img{
    width: 300px;
}

.img-cat {
    width: 500px;
}
.titulo{
    margin: 0 auto;
    text-align: center;
    width: 1000px;
    border-radius: 2px;
}
.nosotros{
    margin: 0 auto;
    /* text-align: center; */
    width: 1000px;
    font-size: large;
    font-weight: 700;
    border-radius: 2px;
}
.nosotros-img {
    width: 60%;
    margin:100px 250px
}

.index-button {
    padding: 10px;
    background-color: black;
    color: white;
    font-size: medium;
    font-weight: 700;
    border-radius: 9px;
}
.p-cat, .p-dog{
    margin: 0 auto;
    text-align: center;
    width: 1000px;
    border-radius: 2px;
}
.cats-color, .dogs-color {
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.cats-color:hover , .dogs-color:hover {
    color: #c4c6c7;
}
.pet-information {
    margin: 100px 30% 100px 30%;
}
.pet-information p {
    width: 300px;
        background-color: rgb(58, 42, 33);
    color: rgb(255, 255, 255);
}

.contact-form-container {
    margin-top: 20px;
    padding: 20px;
    color: white;
    
}

.contact-form {
    display: inline-block;
    text-align: left;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.contact-form textarea {
    resize: vertical;
}
